html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 50px;
}
.add-todo-button {
  width: 50%;
}
.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
.filter-container h1 {
  font-family: Helvetica, Sans-Serif;
}
.status-filter {
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.status-filter label {
  font-size: 20px;
  font-family: Helvetica, Sans-Serif;
}
.card {
  background-color: rgba(204, 245, 211, 255);
}
.card p {
  margin-bottom: 10px;
}
.card p span {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
p,
.card-status-filter .selection,
.status-filter .selection {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.card-status-filter label {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.card-footer {
  margin-top: 50px;
}
.card-footer button {
  width: 100px;
}
.card:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media only screen and (max-width: 992px) {
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .filter-container {
    width: 95%;
  }
}
@media only screen and (max-width: 460px) {
  .status-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
